* {
  margin: 0;
  padding: 0;
  border: none;
  font: 20px Arial;
}

.nav {
  display: flex;
  width: 100%;
  height: calc(40px + 20px);
  background: #333;
}

.nav-item {
  display: inline-block;
  height: 20px;
  padding: 20px 20px;
  color: #eee;
  text-decoration: none;
}

.nav-item.active {
  background: #444;
}

.nav-item:hover {
  background: #555;
}

.content {
  margin: 50px;
}

input[type="text"] {
  border: solid 1px #5d5d5d;
  border-radius: 3px;
  height: 20px;
  padding: 5px;
}

input[type="submit"] {
  border: solid 1px #5d5d5d;
  border-radius: 3px;
  width: 200px;
  padding: 5px;
}

input[type="radio"] {
  margin: 8px;
}

.gallery {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.gallery-item {
  width: 500px;
  padding: 50px;
  height: auto;
  display: block;
  align-content: center;
}

img, video {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

table {
  width: 100%;
  border: 2px solid #555;
  border-collapse: collapse;
}

td, th {
  border: 1px solid #555;
  padding: 10px;
}